/* You can add global styles to this file, and also import other style files */

.card {
    min-width: 150px;
    max-width: 650px;
    margin-left: 50px;
    
    &-login {
        width: 100%;
        max-width: 1000px;
    }
}